html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
:root {
    --bs-primary: #5da331;
    --bs-primary-rgb: 93, 163, 49;
}

/* Перекрашиваем текстовые элементы */
.text-primary { color: #5da331 !important; }
.bg-primary { background-color: #5da331 !important; }

/* Перекрашиваем главные кнопки */
.btn-primary {
    background-color: #5da331 !important;
    border-color: #5da331 !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #4b8527 !important;
    border-color: #4b8527 !important;
}

/* Перекрашиваем кнопки с контуром */
.btn-outline-primary {
    color: #5da331 !important;
    border-color: #5da331 !important;
}

.btn-outline-primary:hover {
    background-color: #5da331 !important;
    color: white !important;
}

/* Делаем списки и карточки чуть более воздушными */
.card, .list-group-item {
    border-color: #e9ecef;
}